# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Add MISCELLANEOUS.txt as an ignored file after downloading this boiler-plate

# dependencies
/node_modules
/.eslintcache
/.vscode
/.env
/.codesandbox
/build
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
